@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400&family=Bellefair&family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');





body {
    font-family: 'Poppins', sans-serif;
    --purple : hsl(259, 100%, 65%);
    --light-red : hsl(0, 100%, 67%);
    --white : hsl(0, 0, 100%);
    --off-white : hsl(0, 0, 94%);
    --light-gray : hsl(0, 0, 86%);
    --smokey-gray : hsl(0, 1%, 44%);
    --off-black : hsl(0, 0, 8%);
    
    background-color: hsl(0, 0, 94%);
}

button {
    border : none;
}


a {
    text-decoration: none;
}